<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1'>
<title>welcome to web world</title>
<style type="text/css>
		body{
			margin:0;
			padding:0;
			}
			.box1{
				height:100vh;
				width:100&;
				background-image:url(images/14[2].jpg);
				background-size:cover;
				display:table;
				background-attechment:fixed;
				}
			.box2{
				height:100vh;
				width:100&;
				background-image:url(17629446_1872951729614286_4490409366192652288_n.jpg);
				background-size:cover;
				display:table;
				background-attechment:fixed;
				}
			.box3{
				height:100vh;
				width:100&;
				background-image:url(images/000000009004549374_001.jpg);
				background-size:cover;
				display:table;
				background-attechment:fixed;
				}
			.box4{
				height:100vh;
				width:100&;
				background-image:url(images/33096407_778019362403548_7316887417674268672_n.jpg);
				background-size:cover;
				display:table;
				background-attechment:fixed;
				}



</style>
</head>
<body>
<div class="box1">
		</div>
<div class="box2">
		</div>
<div class="box3">
		</div>
<div class="box4">
		</div>
</body>
</html>